 /* вся страница */
* {
font-family: arial, sans-serif;
box-sizing: border-box;
}
/* РЕДАКТИРУЕМАЯ ТАБЛИЦА */
.editable {
border-collapse: collapse;
}
.editable th, .editable td {
border: 1px solid #000;
padding: 10px;
}
.editable th {
color: #fff;
background: #a80;
}
.editable td.edit {
background: #ffe7e7;
} 
